{{#if errors}}
{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
    </div>
{{/each}}
{{/if}}
<div class="card card-login mx-auto my-5">
   <div class="card-header">Register an Account</div>
   <div class="card-body">
       <form action="/register" method="post">
           <div class="form-group">
               <label for="Fname">First Name</label>
               <input type="text" name="firstname" id="Fname" class="form-control"
                  aria-describedby="nameHelp" placeholder="Firstname">
           </div> 
           <div class="form-group">
               <label for="Lname">Last Name</label>
               <input type="text" name="lastname" id="Lname" class="form-control"
                  aria-describedby="nameHelp" placeholder="Lastname">
           </div> 
           <div class="form-group">
               <label for="email">Email Address</label>
               <input type="email" name="email" id="email" class="form-control"
                aria-describedby="emailHelp" placeholder="Enter Email">
           </div>     
           <div class="form-group">
               <label for="password">Password</label>
               <input type="password" name="password"
                id="password" class="form-control" placeholder=" Password">
           </div>    
           <div class="form-group">
               <label for="cpassword">Confirm Password</label>
               <input type="password" name="confirm_password"
                id="cpassword" class="form-control" placeholder="Confirm Password">
           </div>
           <button type="submit" class="btn btn-primary btn-block">Register</button>
       </form>
       <div class="text-center">
           <a href="/register" class="d-block small mt-3">Register An Account</a>
           <a href="/forget_password" class="d-block small">Forget Password</a>
           <a href="/" class="d-block small">Home Page/</a>
       </div>
   </div>
</div> 