<div class="container-fluid">
   <div class="col-12">
        <div class="card">
        <form action="/admin/categories" method="post">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-1" for="title">Title</label>
                    <div class="col-md-9">
                        <input type="text" id="category-title" class="form-control" placeholder="Enter Title">
                    </div>
                    <button type="submit" id="create-category-button" class="btn btn-primary col-md-2">
                    Create Category</button>
                </div>
            </div>
        </form>
    </div>
   </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All Categories</h5>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="category-list">
                                {{#each categories}}
                                    <tr>
                                    <td>{{this.name}}</td>
                                    <td>
                                        <a href="/admin/categories/edit/{{this._id}}"
                                            class="btn btn-sm btn-warning">Edit</a>
                                        <form action="/admin/categories/delete/{{this._id}}?newMethod=DELETE"
                                            method="post">
                                            <button class="btn btn-sm btn-danger pull-right"
                                                type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>