{{> default/header}}

<body>

  <!-- Navigation -->
  {{> default/top-nav}}

  <!-- Page Content -->
  <div class="container">
  {{> admin/message}}
     {{{body}}}

  </div>
  <!-- /.container -->

  <!-- Footer -->
 {{> default/footer}}
